body{  
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
  
  }  
  .container {  
    padding-left: 15%;
    padding-right: 18%; 
    background-color: rgba(20, 190, 247, 0.864); 
  }  
    label{
        font-size: 25px;
    }
    select{
        font-size: 20px;
    }
  input[type=text], input[type=password], textarea {  
    width: 100%;  
    padding: 15px;  
    margin: 5px 0 22px 0;  
    display: inline-block;  
    border: none;
    font-size: 20px;  
    background: #f1f1f1;  
  }  
  input[type=text]:focus, input[type=password]:focus {  
    color: rgba(13, 13, 13, 0.947);  
    font-size: 15px;
    outline: none;  
  }  
   div {  
              padding: 10px 0;  
           }  
  hr {  
    border: 1px solid #f1f1f1;  
    margin-bottom: 25px;  
  }  
  .registerbtn {  
    background-color:rgba(23, 220, 20, 0.908);  
    color: white; 
    font-size: 25px;  
    padding: 16px 20px;  
    margin: 8px 0;  
    border: none;  
    cursor: pointer;  
    width: 100%;  
    opacity: 0.9;  
  }  
  .registerbtn:hover {  
    opacity: 1;  
  }  